.text {
  max-width: 50%;
  min-height: 400px;
  float: right;
  right: 10px;
  top: 0;
}

.imagecontainer {
  max-width: 50%;
  max-height: 400px;
  display: flex;
  justify-content: center;
}

img {
  max-width: 90%;
  max-height: 90%;
}

.paginationstyle {
  float: right;
  padding-left: 55%;
  padding-right: 10%;
}
