.text {
    max-width: 50%;
    float: right;
    right: 10px;
    top: 0;
}

.imagecontainer {
    padding-top: 50px;
    max-width: 50%;
    max-height: 400px;
    display: flex;
    justify-content: center;
}

.paginationcontainer {
    float: right;
    padding-left: 55%;
    padding-right: 10%;
}