.paragraphs2 {
    max-width: 40%;
    float: right;
    padding-top: 5%;
    padding-right: 5%;
    min-height: 400px;
}
 
.image3 {
    width: 50%;
    height: 50%;
}
.pagination1 {
    float: right;
    padding-left: 55%;
    padding-right: 10%;
}