.paragraphs {
    max-width: 40%;
    float: right;
    padding-top: 5%;
    padding-right: 5%;
}
.h{
    max-width: 40%;
    float: right;
    padding-top: 1%;
    padding-right: 10%;
    color: gray;    
    font-size: 130%;
}
